*,
*::before, 
*::after {
  box-sizing: border-box;
}

/* Block model */
.excerpt {
  /* Sets the border */
  border: 2px dashed #0daa1a;
  

  /* Adds an inner padding */
  padding: 15px;

  /* Sets outer margins */
  margin: 20px;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #212121;
}

.text {
  padding: 20px;
}

/* Свойства width и height */
.box {
    /* Control the overall width
      and element height or only
      the size of its content area  */
    width: 150px;
    height: 150px;

    /* Sets thr border */
    border: 5px solid #f44336;

    /* Adds an inner padding */
    padding: 30px;

    /* Sets outer margins */
    margin: 80px;

    background-color: #ffeb3b;
}

/* Свойство content-box */
.box {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  border: 5px coled #f44336;
  padding: 30px;
  margin: 100px;
  background-color: #ffeb3b;
}

/* Property margin */
img {
  display: block;
  min-width: 100%;
  height: auto;
}

.post {
  padding: 20px;
  max-width: 400px;
  background-color: #fff;
  border: 2px dashed #2a2a2a;
}

.post-thumb {
  margin-bottom: 30px;
  border: 2px dashed tomato;
}

.post-heading {
  margin-top: 0;
  margin-bottom: 20px;
  border: 2px dashed teal;
}

.post-text {
  margin-bottom: 0;
  margin-top: 0;
  border: 2px dashed blue;
}

/* <!-- Схлопывание вертикальных отступов --> */
.box {
  width: 200px;
  height: 100px;
  border: 5px solid tomato;

  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: blue;

  border-right-width: 5px;
  border-radius: dotter;
  border-right-color: black;

  border-bottom-width: 7px;
  border-bottom-style: dashed;
  border-bottom-color: palevioletred;

border-left-width: 9px;
border-left-style: dashed;
border-left-color: green;
}

.top {
  margin-bottom: 20px;
  background-color: teal;
}

.bottom {
  margin-top: 40px;
  background-color: palevioletred;
}

/* Выпадение вертикальных отступов */
.outer-box {
  width: 200px;
  height: 200px;
  background-color: teal;
}

.inner-box {
  width: 100px;
  height: 100px;
  margin-top: 40px;
  background-color: rgb(102, 95, 13);
}

/* Закруглённая рамка */
.box-1 {
  width: 180px;
  height: 80px;
  background-color: #f44336;
  border-radius: 10px;
}

.box-2 {
  width: 120px;
  height: 120px;
  background-color: #2196f3;
  border-radius: 20%;
}

.box-3 {
  width: 150px;
  height: 150px;
  background-color: #4caf50;
  border-radius: 50%;
}

.box-1, .box-2 {
  margin-bottom: 30px;
  margin: 30px;
}