/* Эффект нажание кнопки с плавной трансформацией теней. */

body {
  font-family: sans-serif;
  color: #212121;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}

.button {
  margin-top: 30px;
  background-color: #e0bea2;
  color: white;

  padding: 16px 39px 16px 39px;
  border: none;
}

.button:hover {
  background-color: #e0bea2;
  filter: drop-shadow(0px 5px 7px rgba(37, 37, 37, 0.15));
  transition:  filter 250ms linear;
}

/* .button:hover {
  filter: drop-shadow(0px 5px 7px rgba(37, 37, 37, 0.15));
} */

.button:active {
    box-shadow: inset 0px 3px 7px rgba(37, 37, 37, 0.15);
    filter: none;
    transition: box-shadow 50ms linear;
}

/* .button:active {
    box-shadow: inset 0px 3px 7px rgba(37, 37, 37, 0.15);
} */





/* .button:focus-within::after {
    content: '';
    box-shadow: inset 0px 3px 7px rgba(37, 37, 37, 0.15);
    filter: none;
}

.button:focus-within::before {
    content: '';
    box-shadow: none;
    filter: none;
} */

/* .button:focus-visible {
    box-shadow: 0;
} */
