/* Селекторы 4-го ранга */
/* Специфичность - 0 0 0 1 */
p {
    color: green;
}

/* ✅ Специфичность - 0 0 0 2 */
article > p {
    color: orange;
}

/* Селекторы 3-го ранга */
/* Специфичность - 0 0 1 0 */
.post-title {
    color: green;
}

/* Специфичность - 0 0 1 1 */
.post > h1 {
    color: red;
}

/* ✅ Специфичность - 0 0 2 0 */
.post > .post-title {
    color: orange;
}

/* Специфичность - 0 0 0 1 */
a {
    color: green;
}

/* Специфичность - 0 0 1 0 */
.post-link {
    color: orange;
}

/* Специфичность - 0 0 1 1 */
a.post-link {
    color: blue;
}

/* Специфичность - 0 0 2 0 */
.post > .post-link {
    color: red;
}

/* ✅ Специфичность - 0 0 2 1 */
.post > a.post-link {
    color: brown;
}

/* Селекторы 2-го ранга */
/* Специфичность - 0 0 1 0 */
.post-title {
    color: green;
}

/* ✅ Специфичность - 0 1 0 0 */
#title {
    color: rgb(62, 15, 105);
}

/* Одинаковая специфичность */
/* Три селектора элемента с одинаковой специфичностью */
a {
    color: teal;
}

a {
    color: brown;
}

/* Так как это правило стоит ниже, ко всем ссылкам применится оранжевый цвет текста */
a {
    color: orange;
}

/* Избегаем специфичность */
.post {
    color: rgb(8, 61, 61);
  }
  
  .post > h1 {
    color: rgb(92, 28, 28);
  }
  
  .post > p {
    color: rgb(163, 11, 163);
  }
  
  .post > a {
    color: rgb(92, 139, 20);
  }
  
  .post > a:hover {
    color: crimson;
  }


  .post {
    /* Стили статьи */
  }
  
  .post > .title {
    /* Стили заголовка */
  }
  
  .post > .text {
    /* Стили текста */
  }
  
  .post > .link {
    /* Стили ссылки */
  }
  
  .post > .link:hover {
    /* Стили ссылки при ховере */
  }


  .post {
    color: green;
  }
  
  .post-title {
    /* Стили заголовка */
  }
  
  .post-text {
    /* Стили текста */
  }
  
  .post-link {
    /* Стили ссылки */
  }
  
  .post-link:hover {
    /* Стили ссылки при ховере */
  }

  /* Ключевое слово !important */
  p {
    color: orange !important;
  }

  p#text-id.text {
    color: blue;
  }

  /* Наследование свойств */
