body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #212121;
}

.conteiner {
  display: block;
  margin: 0 auto;
  padding: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.logo-footer {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--btn-white-color);
  margin-bottom: 20px;
}

.footer-flex {
  width: 231px;
}

.footer-item {
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--color-fon-site);
}

.container-footer {
  display: flex;
  align-items: baseline;
  background-color: grey;
}

.flex {
  margin-left: 70px;
  width: 570px;
}

.footer-padding {
  display: block;
  margin-right: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-footer {
  width: 231px;
}

.logo-top {
  display: inline-block;
}

.address-list {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--btn-white-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list:hover,
.address-list:focus {
  color: var(--transitional-text-color);
  outline: none;
}

.footer-link {
  display: flex;
  margin-top: 0;
  margin-bottom: 9px;
  padding: 0;
  list-style: none;
}

.list {
  margin-right: 12px;
}

.contacts {
  color: var(--rgba-text-color);
}

.item-socf:nth-child(4n) {
  margin-right: 0;
}

/* .btn {
  display: flex;
  flex-wrap: wrap;
} */

.btn-dz {
  position: absolute;
  padding: 10px 28px;
  justify-content: center;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.9;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: white;
  background-color: rgb(75, 105, 30);
  border-radius: 5px;
  border: greenyellow;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-svg {
  
  fill: white;
}

.icon1 {
  display: flex;
  margin-left: 10px;
  padding: 10px;
}

.btn-dz:hover {
  background-color: yellowgreen;
}


.form-footer {
  display: block;
  flex-direction: column;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.form-name {
  padding: 8px;
  align-items: center;

  background: grey;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

.signup input::placeholder {
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgb(115, 212, 24);
}

.title-soc {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: white;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  display: flex;
  min-width: 528px;
  min-height: 581px;
  background-color: rgb(237, 238, 224);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--btn-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn:hover {
  fill: rgb(199, 80, 80);
}

/* Forma modal */
.title-modal {
  /* position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: block;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin: 0 auto;
  padding: 0 auto;
  padding-top: 2px;
  margin-bottom: 30px;
}

/* Form modal*/
.form {
  display: block;
  padding: 20px;
    margin: 20px;
    width: 528px;
}

.form-field {
  display: block;
  position: relative;
  margin-bottom: 28px;
  /* justify-content: center; */
  /* align-items: baseline; */
  /* align-items: center; */
  font-size: 12px;
line-height: 1.2;
letter-spacing: 0.01em;
color: #757575;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);

  transition: transform 250ms linear;
}

.form-input {
  margin: 0;
  padding: 10px 12px 10px 42px;
  /* padding-left: 42px; */
  justify-content: center;
  align-items: baseline;
  width: 100%;
  font: inherit;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
outline: none;
}

.icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: #212121;
  margin: 0;

  transform: translateY(-50%);
}
/* .person {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%, 0%);
  fill: black;
  width: 18px;
} */
/* 
.data-flex {
  display: block;
} */

.form-field:focus-within > .icon {
  fill: #2196F3;
}

.form-field:focus-within > .form-label {
  transform: translateY(-35px);
  left: 0;
  padding-bottom: 4px;
}

.form-field:not(:focus-within) > .form-label {
  left: 42px;
}

.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-50%);
}

.form-input:focus {
border-color: #2196F3;
}

.comment {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 28px;
}

.form-comment {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px 16px;

  font-size: 12px;
  line-height: 1.2;
  color: rgba(117, 117, 117, 0.5);

  transform: translate(0);

  transition: color 150ms linear;
}

.test {
  /* margin: 0;
  padding: 0; */
  padding: 12px 16px;
  border-color: #212121;
  border-radius: 4px;
  outline: none;
}

.test:focus {
  border-color: #2196F3;
  
}

.comment:focus-within > .form-comment {
  transform: translate(0);
  left: 0;
  color: rgba(240, 248, 255, 0);
}

.text {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
}

  .police {
    display: block;
    margin: 0 auto;
    padding: 0 auto;
  }
  
  
  .police-link {
    color: #2196F3;
  }
  
  .police-text {
    margin-left: 9px;
  }
  
